.table {
  width: 100%;
}

.fa-user-plus {
  font-size: 1rem;
  color: green;
  cursor: pointer;
}
.fa-trash-alt {
  font-size: 1rem;
  color: red;
  cursor: pointer;
}
.fa-user-edit {
  font-size: 1rem;
  color: turquoise;
  cursor: pointer;
}
